/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul {
  background-color: grey;
}

.nav-ul li a{
color: #282c34;
padding: 10px;
text-decoration: none;
}

.footer {
  position:absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: grey;
  color: #282c34;
}


.inputbox{
  display: block;
  margin: 30px;
  padding: 10px;
  width: 300px;
  border: 1px solid #282c34;
}
.register , .product {
margin-left: 30%;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}

.clickbutton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: #282c34;
  border: 1px solid;
  cursor: pointer;
  color: white;
}

.nav-right{
  text-align: right;
}

.logo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 20px;
}
/* for responsive */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.invalid-input{
  color: red;
  margin-top: -30px;
}

.invalid-input{
  color: red;
  margin-top: -30px;
  display: block;
  margin-left: 30px;
}

.product-list {
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
display: inline-block;
border:1px solid #282c34;
padding: 5px;
width: 150px;
}

.product-list ul{
  margin: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.search-box {
  width: 600px;
  margin: 20px;
  height: 40px;
  border: 1px solid #282c34;
  padding-left: 20px;
}
/* for responsive*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}